<article class="characterCardWrapper">
  <div class="imgWrapper clickable">
    <img src={{char.image}} alt="{{char.name}}">
  </div>
  <div class=contentWrapper>
    <div class="section">
      <a class="clickable " href="">
        <h2 class = "title">{{char.name}}</h2>
      </a>
      <span class="status">
        <span [ngClass]="{'dead':char.status=='Dead', 'unknown':char.status=='unknown'}"class="status_icon"></span>
        {{char.status}}
        -
        {{char.species}}
      </span>
    </div>
    <div class="section">
<span class = text-gray>Gender : {{char.gender}}</span>
    </div>
    <div class="section">
      First created in:
<p>{{char.created}}</p>
    </div>
  </div>
</article>
