<nav class="sidenav-links">
  <a routerLink="/menu" routerLinkActive="router-link-active">
      <div></div>
      <div class="icon-container">
          <div></div>
          <mat-icon>home</mat-icon>
      </div>
      <span>Menu</span>
  </a>
  <a routerLink="/chars" routerLinkActive="router-link-active">
      <div></div>
      <div class="icon-container">
          <div></div>
          <mat-icon>supervisor_account</mat-icon>
      </div>
      <span>Characters</span>
  </a>
  <a routerLink="/favChars" routerLinkActive="router-link-active">
      <div></div>
      <div class="icon-container">
          <div></div>
          <mat-icon>favorite</mat-icon>
      </div>
      <span>Favs</span>
  </a>
  <a routerLink="/quotes" routerLinkActive="router-link-active">
      <div></div>
      <div class="icon-container">
          <div></div>
          <mat-icon>textsms</mat-icon>
      </div>
      <span>Quotes</span>
  </a>
</nav>
<div class="sidenav-content">
  <router-outlet></router-outlet>
</div>
