<mat-toolbar class="section-header">
  <h2>Rick & Morty Characters </h2>
  <app-autocomplete (filteredOutput)="getFiltered($event)" [array]="chars"
    [control]="autocompleteControl" [filterProperty]="filterProperty"></app-autocomplete>
</mat-toolbar>
<pagination-controls (click)="onPageChange(page)" (pageChange)="page = $event" previousLabel="Previous" nextLabel="Next" ></pagination-controls>
<div class="grid-list" *ngIf="chars?.length != 0; else notFound" >
  <app-char-card  routerLink="/chars/{{ char.id }}"
  *ngFor="let char of filteredChars | paginate: {itemsPerPage : 20, currentPage: page , totalItems: queryCount }" [char]=char></app-char-card>
</div>
<ng-template #notFound>
  <div class="char-not-found">
    <p>
      <app-char-card name="Not Found"></app-char-card>
      No char with name "{{ cutString(autocompleteControl.value!) }}" has been found
    </p>
    <div>
    </div>
  </div>
</ng-template>
