
<div class="window">
  <div class="header">
    <mat-icon (click)="close()" class = "clickable close">close</mat-icon>
  </div>
  <div class="contentWrapper">
    <div class="imgWrapper">
      <img src={{data.char.image}} alt={{data.char.name}} class="charImg">
    </div>
    <div class= "charDetails">
      <h1>{{data.char.name}}
        <mat-icon *ngIf="isFav"   (click)="addToFav()" class = "clickable favicon">favorite</mat-icon>
        <mat-icon *ngIf="!isFav"   (click)="addToFav()" class = "clickable favicon">favorite_border</mat-icon>
      </h1>
      <hr>
      <section>
        <h2 class="text-gray">Status :</h2><span [ngClass]="{'dead':data.char.status=='Dead', 'unknown':data.char.status=='unknown'}" class="status_icon"></span><h2>{{data.char.status}}</h2>
      </section>
      <section>
        <h2 class="text-gray">Species : {{data.char.species}}</h2>

      </section>
      <section>
        <h2 class="text-gray">Gender : {{data.char.gender}}</h2>
      </section>
      <section>
        <h2 class="text-gray">Created : {{data.char.created}}</h2>
      </section>

      <section *ngIf="favChar">
        <h2 class="text-gray">Comments : {{favChar.comments}}</h2>
      </section>
    </div>
  </div>
</div>

